* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}
h1 {
  color: brown;
}
.hobbies {
  color: blueviolet;
}
section {
  border: 4px red dotted;
  height: 1000px;
  margin: 20px 50px;
}
/* margin это отсуп сверху или с другой стороны */

main {
  margin: 20px 50px;
  background-position-x: center;
}
